@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-playfair: "Playfair Display", serif;
}

#hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/photos/hero-image.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-shadow-strong {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8),
                0px 0px 15px rgba(0, 0, 0, 0.6),
                1px 1px 3px rgba(0, 0, 0, 1);
}

.text-shadow-soft {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* testimonial carousell*/
.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: 500%;
}

.carousel-slide {
    width: 20%;
    flex-shrink: 0;
}